/* RESET */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* COMMON */

body {
    color: white;
}

ul {
    display: flex;
}

.star {
    padding: 1rem 0;
}
/* END COMMON */

/* HEADER */

header {
    height: 80px;
    background-color: #2c3f4f;
    display: flex;
    align-items: center;
}

header li {
    padding: 0 1rem;
}

h1 {
padding: 1rem 0;
}

#portfolio h2 {
    padding-top: 2rem;
}

/* END HEADER */


/* MAIN */

/* Start section */

#start {
    background-color: #1abc9b;
    padding: 3rem 0;
}

.start {
    margin: 0 auto;
    text-align: center;
}

.start img {
    width: 40%;   
}

/* Portfolio */

#portfolio {
    color: black;
}

.portfolio-title {
    text-align: center;
}

.img-container {
    background-color:#0f38b5;
}

/* END MAIN */


/* FOOTER */


/* END FOOTER */


/*-------------------- MEDIA QUERY --------------------*/

