/* RESET */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */

ul {
    display: flex;
}

.star {
    padding: 1rem 0;
}

section {
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
}

section:nth-of-type(2n + 1),
footer {
    background-color: #1abc9b;
    color: white;
}

.ms_container {
    width: 65%;
    margin: 0 auto;
    max-width: 1170px;
}
/* END COMMON */

/* HEADER */

header {
    height: 80px;
    background-color: #2c3f4f;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
}

header li {
    padding: 0 1rem;
}

h1 {
padding: 1rem 0;
}

/* END HEADER */


/* MAIN */

/* Start */

.start,
.about {
    
}

.start img {
    width: 40%;   
}

/* Portfolio */

#portfolio {
    color: black;
}

.portfolio-title {
    text-align: center;
}


.img-container {
    background-color:#0f38b5;
}

/* About Me */

.btn {
    background-color: lightblue;
    margin: 2rem 0;
}

/* END MAIN */


/* FOOTER */

footer {
    text-align: center;
}

.top-footer {
    background-color:#3a546e;
}

.footer-col-content {
    padding: 2rem;
}

.bottom-footer {
    background-color: #2c3f4f;
    height: 80px;
    line-height: 80px;
}

/* END FOOTER */

